.container {
	display: flex;
	align-items: flex-end;
}
.bin {
	flex: 0 0 auto;
	border: 1px solid;
	background-color: lightblue;
	left: 0;
	box-sizing: border-box;
	transition: none;
}
.active {
	background-color: pink;
	position: relative;
	transition: left 2s;		
}